.about
  display flex
  &__heading
    font-size 18px
    line-height 26px
  &__text
    font-size 16px
    line-height 24px
  &__read-more
    font-weight 500
    font-size 16px
    line-height 23px
    color #5286EC
  &__arrow-down
    margin 0 10px
