.main-promo
  height 840px
  background-image url("./img/helimain.jpg")
  background-position center center
  border-top 1px solid
  &__content
    margin-top 286px
    color #FFFFFF
  &__heading
    font-weight bold
    font-size 40px
    line-height 49px
  &__heading-color
    color #FC9B09
  &__price-block
    display inline-block
    position relative
    margin-bottom: 25px;
    padding 15px 90px 15px 25px
    background #FC9B09
    box-shadow 0 4px 4px rgba(0, 0, 0, 0.1)
    border-radius 5px
    background-image url("./img/promo-price.svg")
    background-repeat no-repeat
    background-position top 15px right 20px
  &__price-block:after
    content ''
    width 20px
    height 20px
    background #FC9B09
    box-shadow 4px 4px 4px rgba(0, 0, 0, 0.1)
    position absolute
    bottom -9px
    right 80px
    transform rotate(45deg)
    border-radius 0 0 5px 0
  &__price-text
    font-size: 20px
  &__price
    font-size 35px
    font-weight 800
  &__button
    display inline-block
    padding 24px 37px
    border 3px solid #FFFFFF
    box-sizing border-box
    box-shadow 0 4px 4px rgba(255, 255, 255, 0.25), 0 4px 70px rgba(255, 255, 255, 0.7)
    border-radius 3px
    font-weight 900
    font-size 18px
