doctype html
html
    head
        meta(charset='utf-8')
        title Example
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body.body
        header.header
            .header__bar.content-container
                a(href='#')
                    img(src='./src/img/logo.svg').logo.header__logo
                .header__phone <span class="header__phone-color">Телефон:</span> 8(800)-123-12-12
            .main-promo.site-container
                .main-promo__content.content-container
                    h1.main-promo__heading
                        | Эксклюзивная <span class="main-promo__heading-color">фотосессия</span> при полете<br>
                        | на вертолете
                    .main-promo__price-block
                        .main-promo__price-text Стоимость:
                        .main-promo__price 1500&#8381
                    div
                        .main-promo__button Забронировать место

        main.main
            .info-promo.content-container
                .info-promo__text-content
                    h1.info-promo__heading Фотосессия<br> в вертолете
                    p.info-promo__text
                        | Полет на вертолете это прекрасная возможность получить новые ощущения!
                        | А наш замечательный фотограф запечатлит лучшие моменты
                    ul.info-promo__list
                        li.info-promo__list-element
                            | <img class="info-promo__list-img" src="./src/img/mini-clock.svg"> 3 часа съемки
                        li.info-promo__list-element
                            | <img class="info-promo__list-img" src="./src/img/mini-photo.svg"> Более 50 фотографий
                        li.info-promo__list-element
                            | <img class="info-promo__list-img" src="./src/img/map-pin-marked.svg"> Москва
                        li.info-promo__list-element
                            | <img class="info-promo__list-img" src="./src/img/speech-bubble.svg"> Готовы ответить на любые вопросы
                    .info-promo__review
                        img(src="./src/img/mini-cup.svg").info-promo__review-img
                        span.info-promo__textcontent Более <b>50</b> отзывов с оценкой
                        img(src="./src/img/stars.svg").info-promo__review-stars
                .info-promo__photo-content
                    img(src='./src/img/info-promo-img.jpg')
            .gallery.content-container
                h3.gallery__heding Фотографии пакета:
                .gallery__content
                    img(src='./src/img/gallery/1.jpg').gallery__img
                    img(src='./src/img/gallery/2.jpg').gallery__img
                    img(src='./src/img/gallery/3.jpg').gallery__img
                    img(src='./src/img/gallery/4.jpg').gallery__img
                    img(src='./src/img/gallery/4.jpg').gallery__img
                    img(src='./src/img/gallery/3.jpg').gallery__img
                    img(src='./src/img/gallery/2.jpg').gallery__img
                    img(src='./src/img/gallery/1.jpg').gallery__img
                .gallery__show-more
                    img(src='./src/img/arrow-down.svg').gallery__arrow-down
                    | Показать все фото
                    img(src='./src/img/arrow-down.svg').gallery__arrow-down
            .about.content-container
                .about__text-content
                    h3.about__heading Об организаторе:
                    p.about__text
                        | Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов
                        | туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах
                        | обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
                    p.about__text
                        | Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение,
                        | которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
                    .about__read-more Читать ещё
                        img(src='./src/img/arrow-down.svg').about__arrow-down
                    h3.about__heading Что я предоставлю:
                    p.about__text
                        | Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки.
                        |  При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с
                        | обработкой и замечательные впечатления о Дубае ! 
                    .about__read-more Читать ещё
                        img(src='./src/img/arrow-down.svg').about__arrow-down
                .about__poto-content


